* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Oleo Script', cursive;
}

a {
  color: #46b8da;
}

label {
  text-transform: uppercase;
  padding-bottom: 15px;
}

.movie-details {
  color: #FFF;
}

.movie-details-header {
  padding: 5px 0;
}

.movie-details-body {
  /* contains address and reminder */
  padding: 0;
}

.address,
.reminder {
  float: left;
}

.address {
  padding-right: 10px;
  width: 66.6666%;
}

.reminder {
  padding-left: 10px;
  width: 33.3333%;
  border-left: solid 1px #9DBDC6;
  margin-bottom: 5px;
}

@media all and (max-width: 480px) {
  .movie-details-body {
    padding: 0;
  }

  .address,
  .reminder {
    float: none;
    width: 100%;
  }

  .address {
    padding: 10px 0;
    text-align: center;
  }

  .reminder {
    padding: 10px 0;
    border-left: none;
    border-top: solid 1px #9DBDC6;
    text-align: center;
    margin-bottom: 0px;
  }
}

.remind-button {
  margin-bottom: 5px;
  background-color: #FF9800;
  font-weight: bold;
}

.map-area {
  margin-top: 10px;
}

.black {
  background-color: #000;
  color: #FFF;
}

.orange {
  color: #FF9800;
}

.bright-red {
  background-color: #FF3D2E;
}

.light-blue {
  background-color: #DAEAEF;
}

.burgundy {
  background-color: #611427;
}

.dark-grey {
  background-color: #272F32;
}

.marine {
  background-color: #263248;
}

.landing-cont h1 {
  font-size: 2.7em;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px dotted;
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.landing-cont {
  background: url('../Assets/background copy.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.landing {
  background: #ffffff;
  position: relative;
  top: 20vh;
  padding: 50px;
  padding-bottom: 90px;
  font-size: 1.15em;
  /*box-shadow: inset 0 0 10px 3px #333;*/
}

.landing .btn {
  font-weight: 500;
  font-size: 16px;
}

.landing-message {
  position: relative;
  top: 30px;
  height: 50px;
}

.dash {
  color: #46b8da;
}

.or {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.circle-background {
  background-color: #333;
  border-radius: 100%;
  padding-left: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;

}

select {
  margin-bottom: 20px;
}

.zip-code-submit {
  padding-top: 20px;
}

.movie-panel {
  margin-top: 20px;
}

.details-panel {
  margin-bottom: 20px;
  margin-top: 20px;
}

.route-info {
  margin-top: 40px;
}

.movie-listing {
  color: #FFF;
  background-color: #272F32;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
  min-height: 168px;
}

.movie-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  margin-top: 3px;
}

.movie-details-title {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  color: #FF9800;
}

.movie-details-container {
  color: #FFF;
}

.movie-container {
  height: 550px;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

#thumb {
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  margin-left: 10px;
  position: absolute;
  display: inline-block;
  width: 100px;
  clip: rect(0px 100px 148px 0px);
  height: 148px;
}

.poster {
  cursor: hand;
  cursor: pointer;
  max-height: 50%;
  margin-bottom: 10px;
}

.movie-container.final-row {
  border-bottom-style: none;
}

.btn-trailer {
  width: 200px;
  position: fixed;
  bottom: 25px;
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video a {
   position: absolute;
   display: block;
   background-color: blue;
/*   background: url(url_to_play_button_image.png);
*/   height: 40px;
   width: 40px;
   top: 20px;
   left: 20px;
}

.modal-body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50%;
}

.modal-body iframe {
  position: absolute;
  margin: 0 auto;
  width: 90%;
  height: 60%;
  left: 5%;
  top: 20%;
}

.movie-info {
  margin-left: 120px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .landing {
    top: 0;
  }
  body{
    width:100%;
    height:100%;
    overflow-x: hidden;
  }
  .movie-container {
    border-bottom-style: none;
  }
}

/* utilities */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/** {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Oleo Script', cursive;
}

a {
  color: #46b8da;
}

label {
  text-transform: uppercase;
  padding-bottom: 15px;
}

.black {
  background-color: #000;
  color: #FFF;
}

.orange {
  color: #FF9800;
}

.bright-red {
  background-color: #FF3D2E;
}

.light-blue {
  background-color: #DAEAEF;
}

.burgundy {
  background-color: #611427;
}

.dark-grey {
  background-color: #424242;
}

.marine {
  background-color: #046380;
}

.landing-cont h1 {
  font-size: 2.7em;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px dotted;
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.landing-cont {
  background: url('../Assets/background copy.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.landing {
  background: #ffffff;
  position: relative;
  top: 20vh;
  padding: 50px;
  padding-bottom: 90px;
  font-size: 1.15em;
  /*box-shadow: inset 0 0 10px 3px #333;*/
}

.landing .btn {
  font-weight: 500;
  font-size: 16px;
}

.landing-message {
  position: relative;
  top: 30px;
  height: 50px;
}

.dash {
  color: #46b8da;
}

.or {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.circle-background {
  background-color: #333;
  border-radius: 100%;
  padding-left: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;

}

select {
  margin-bottom: 20px;
}


.button {
  height: 2.5em;
  font-size: inherit;
}

.zip-code-submit {
  padding-top: 20px;
}

.movie-panel {
  margin-top: 20px;
}

.details-panel {
  margin-bottom: 20px;
  margin-top: 20px;
}

.route-info {
  margin-top: 40px;
}

.movie-listing {
  color: #FFF;
  background-color: #272F32;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
  min-height: 168px;
}

.movie-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  margin-top: 3px;
}

.movie-container {
  height: 550px;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

#thumb {
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  margin-left: 10px;
  position: absolute;
  display: inline-block;
  width: 100px;
  clip: rect(0px 100px 148px 0px);
  height: 148px;
}

.poster {
  cursor: hand;
  cursor: pointer;
  max-height: 50%;
  margin-bottom: 10px;
}

.movie-container.final-row {
  border-bottom-style: none;
}

.btn-trailer {
  width: 200px;
  position: fixed;
  bottom: 25px;
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.video { position: relative; }

.video a {
   position: absolute;
   display: block;
   background-color: blue;
/*   background: url(url_to_play_button_image.png);
*/   height: 40px;
   width: 40px;
   top: 20px;
   left: 20px;
}

.modal-body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30%;
}

.modal-body iframe {
  position: absolute;
  margin: 0 auto;
  width: 90%;
  height: 60%;
  left: 5%;
  top: 20%;
}

.movie-info {
  margin-left: 120px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .landing {
    top: 0;
  }
  body{
    width:100%;
    height:100%;
    overflow-x: hidden;
  }
  .movie-container {
    border-bottom-style: none;
  }
}*/