/********************************************
  SITE-WIDE STYLING
*********************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Oleo Script', cursive;
}

a {
  color: #46b8da;
}

label {
  text-transform: uppercase;
  padding-bottom: 15px;
}


/********************************************
  LANDING PAGE 
*********************************************/

.landing-header h1 {
  font-family: 'Poiret One', cursive;
  font-size: 3.2em;
  text-align: center;
  padding: 30px 0 20px 0;
  color: #FFF;
  background-color: #272F32;
}

.landing-header .dash {
  color: #FF9800;
}

.departure {
  background-color: #FFF;
  padding: 20px 0 20px 0;
  border: solid 1px #7E8AA2;
}

.departure-time-container {
  background-color: #FFF;
  padding: 15px 0 80px;
  border: solid 1px #7E8AA2;
}

.departure-time-button {
  width: 61%;
  margin-right: 10px;
  vertical-align: top;
  display: table-cell;
  float: right;
}

.button-location {
  background-color: #FF9800;
  color: #263248;
}

.departure-time-string {
  position: absolute;
  padding-top: 8px;
  margin-left: 10px;
  width: 30%;
  font-size: 1.25em;
  font-family: 'Open Sans', sans-serif;
}

.travel-mode {
  position: absolute;
  padding-top: 8px;
  margin-left: 10px;
  width: 30%;
  font-size: 1.25em;
}

.travel-mode span {
  vertical-align: center;
}

.mode-buttons {
  text-align: right;
  margin-right: 10px;
}

.mode-buttons button {
  width: 15%;
  background-color: #263248;
}

.mode-buttons button:hover {
  background-color: #FF9800;
}

.zipcode-container {
  padding: 20px 0 20px 0;
  background-color: #FFF;
  text-align: center;
  border: solid 1px #7E8AA2;
  height: 100px;
}

.zipcode-inline {
  background-color: #FFF;
  height: 50px;
  width: 30%;
  margin-right: 20px;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}

.zipcode-button {
  margin-right: -10px;
  float: right;
  margin-bottom: -8px;
}

.zipcode-field {
  text-align: center;
  background-color: #FFF;
}

#zipcode-box {
  background-color: #eee;
  position: absolute;
  width: 60%;
  margin: -15px 0 -15px 0;
}

.spinner-container {
  background-color: #FFF;
  padding-bottom: 40px;
}

.location-container {
  padding: 20px 0 20px 0;
  background-color: #FFF;
  text-align: center;
  border: solid 1px #7E8AA2;
}

.landing-cont h1 {
  font-size: 2.7em;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px dotted;
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

/*.landing-cont {
  background: url('../Assets/background copy.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}*/

.landing {
  background: #ffffff;
  position: relative;
  top: 20vh;
  padding: 50px;
  padding-bottom: 90px;
  font-size: 1.15em;
  /*box-shadow: inset 0 0 10px 3px #333;*/
}

/*.landing .btn {
  font-weight: 500;
  font-size: 16px;
}*/

.landing-message {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  top: 30px;
  height: 50px;
}

select {
  margin-bottom: 20px;
}


/********************************************
  MOVIE DETAILS VIEW
*********************************************/

.movie-details {
  color: #FFF;
}

.movie-details-header {
  padding: 5px 0;
}

.movie-details-body {
  /* contains address and reminder */
  padding-right: 10px;
}

.address,
.reminder {
  float: left;
}

.address {
  padding-right: 10px;
  width: 66.6666%;
}

.reminder {
  padding-left: 10px;
  width: 33.3333%;
  border-left: solid 1px #9DBDC6;
  margin-bottom: 5px;
}

/* Create responsive layout for small screens */
@media all and (max-width: 480px) {
  .movie-details-body {
    padding: 0;
  }

  .address,
  .reminder {
    float: none;
    width: 100%;
  }

  .address {
    padding: 10px 0;
    text-align: center;
  }

  .reminder {
    padding: 10px 0;
    border-left: none;
    border-top: solid 1px #9DBDC6;
    text-align: center;
    margin-bottom: 0px;
  }
}

.remind-button {
  margin-bottom: 5px;
  background-color: #FF9800;
  font-weight: bold;
}

.map-area {
  margin-top: 10px;
}


.movie-panel {
  margin-top: 20px;
}

.details-panel {
  margin-bottom: 20px;
  margin-top: 20px;
}

.movie-listing {
  color: #FFF;
  background-color: #272F32;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
  min-height: 168px;
}

.movie-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  margin-top: 2px;
}

.movie-details-title {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  color: #FF9800;
}

h4 .showtime {
  color: #FF9800
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
}

.movie-details-container {
  color: #FFF;
}

.movie-container {
  height: 550px;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

#thumb {
  border-width: 1px;
  border-style: solid;
  border-color: #CCC;
  margin-left: 10px;
  position: absolute;
  display: inline-block;
  width: 100px;
  clip: rect(0px 100px 148px 0px);
  height: 148px;
}

.poster {
  cursor: hand;
  cursor: pointer;
  max-height: 50%;
  margin-bottom: 10px;
}

.movie-container.final-row {
  border-bottom-style: none;
}

/*.btn-trailer {
  width: 200px;
  position: fixed;
  bottom: 25px;
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.video a {
   position: absolute;
   display: block;
   background-color: blue;
   height: 40px;
   width: 40px;
   top: 20px;
   left: 20px;
}*/

.movie-info {
  margin-left: 120px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .landing {
    top: 0;
  }
  body{
    width:100%;
    height:100%;
    overflow-x: hidden;
  }
  .movie-container {
    border-bottom-style: none;
  }
}

/********************************************
  UTILITIES 
*********************************************/

/* Clear floats */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#centered {
  display: table-cell;
}

.black {
  background-color: #000;
  color: #FFF;
}

.orange {
  color: #FF9800;
}

.light-blue {
  background-color: #DAEAEF;
}

.dark-grey {
  background-color: #272F32;
}

.marine {
  background-color: #263248;
}

