<ion-view view-title="Home">
  <ion-content class="padding">

    <div class="landing-cont">
      <div class="landing">

        <div class="header"><h1>Movie <i class="dash">DASH</i></h1>
        </div>

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Travel Mode
            </div>
            <select class="form-control" ng-model="modality">
              <option value="driving">Driving</option>
              <option value="walking">Walking</option>
              <option value="bicycling">Biking</option>
              <option value="transit">Public Transportation</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Departure Time
            </div>

            <ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallback">

            <button class="button button-block button-positive"> {{ prettyTime }} </button>

            </ionic-timepicker>
          </label>
        </div>

        <button type="button" class="button button-positive" ng-click="findLocation()">Use Current Location</button>



        <div class="divider">
          <div class="or">
            <span class="circle-background">OR</span>
          </div>
        </div>

        <!-- shows form when geolocation errors out -->
        <div class="zipcode">

          <label class="item item-input">
            <form name="zipCode" ng-submit="zipSubmit(zip)">
              <span class="input-label">Zipcode</span>
              <input ng-model="zip" type="tel" pattern="([1-9])+(?:-?\d){4,}" placeholder="Enter your zipcode" class="" required>
              <button class="button button-positive" ng-disabled="zipCode.$invalid">Go</button>
            </form>
          </label>
        </div>

        <center><img class="landing-message spiffy" ng-if="isLoading" src="img/spiffygif_46x46.gif"><center>
        <div class="landing-message" ng-if="error">{{error}}</div>
      </div>

    </div>

  </ion-content>
</ion-view>
